<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="wolvengard.app.rimworldcompanion.Buffs" />
        <activity android:name="wolvengard.app.rimworldcompanion.Debuffs" />
        <activity android:name="wolvengard.app.rimworldcompanion.Traits_Buffs" />
        <activity android:name="wolvengard.app.rimworldcompanion.ProductInfo" />
        <activity android:name="wolvengard.app.rimworldcompanion.Security" />
        <activity android:name="wolvengard.app.rimworldcompanion.Exotics" />
        <activity android:name="wolvengard.app.rimworldcompanion.Drugs" />
        <activity android:name="wolvengard.app.rimworldcompanion.Fabrics" />
        <activity android:name="wolvengard.app.rimworldcompanion.Valuables" />
        <activity android:name="wolvengard.app.rimworldcompanion.Plants" />
        <activity android:name="wolvengard.app.rimworldcompanion.EntityInfo" />
        <activity android:name="wolvengard.app.rimworldcompanion.Mercenaries" />
        <activity android:name="wolvengard.app.rimworldcompanion.Outlanders" />
        <activity android:name="wolvengard.app.rimworldcompanion.Pirates" />
        <activity android:name="wolvengard.app.rimworldcompanion.Tribals" />
        <activity android:name="wolvengard.app.rimworldcompanion.Raiders" />
        <activity android:name="wolvengard.app.rimworldcompanion.Mechanoids" />
        <activity android:name="wolvengard.app.rimworldcompanion.Creatures" />
        <activity android:name="wolvengard.app.rimworldcompanion.Animals" />
        <activity android:name="wolvengard.app.rimworldcompanion.View_pages" />
        <activity
            android:name="wolvengard.app.rimworldcompanion.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>